.popup {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, .5);
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
}

.popup__container {
    width: 430px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    position: relative;
    margin: 148px auto 0;
    
    
}

.popup__close {
    background-image: url(../../../images/Close-icon.svg);
    outline: none;
    border: none;
    width: 40px;
    height: 40px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: -40px;
    top: -40px;
}

.popup__info {
    margin-left: 36px;
    margin-right: 36px;
    margin-bottom: 0;
    border: none;
    outline: none;
    width: 358px;
}

.popup__info_header {
    margin-top: 34px;
}

.popup__info_name {    
    padding-bottom: 13px;
    margin-top: 54px;
    border-bottom: #C4C4C4 solid 1px;
}

.popup__info_job {
    padding-bottom: 13px;
    margin-top: 30px;
    border-bottom: #C4C4C4 solid 1px;
    
}

.popup__info_place {
    padding-bottom: 13px;
    margin-top: 54px;
    border-bottom: #C4C4C4 solid 1px;
    color: #C4C4C4;
}

.popup__info_link {
    padding-bottom: 13px;
    margin-top: 30px;
    border-bottom: #C4C4C4 solid 1px;
    color: #C4C4C4;
}



.popup__confirm {
    margin-top: 48px;
    margin-bottom: 36px;
    width: 358px;
    height: 50px;
    background-color: black;
    color: white;
    border: none;
    align-self: center;
}

.popup_opened {
    visibility: visible;
}

.popup__form {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}